node_modules/
dist/
.neon-data/
.pycache/
__pycache__/
*.pyc

.DS_Store

src-tauri/target/
src-tauri/gen/
src-tauri/binaries/neon-engine-*
!src-tauri/binaries/neon-engine-aarch64-apple-darwin
!src-tauri/binaries/neon-engine-x86_64-apple-darwin

assets/models/whisper/*.bin
assets/translate/argos/*.argosmodel
assets/ffmpeg/macos/ffmpeg
assets/ffmpeg/windows/ffmpeg.exe
